* {
    margin: 0;
    padding: 0;
  }
    body {
      font: 30px/1.5 Arial;
      text-align: center;
      margin-top: 30px;  
    }
    .ct >li {
      display: inline-block;
      border-radius: 5px;
      margin: 0 1px;
    }
    .steal {
      color: white;
      background-color: #4f9d9d;
      padding: 8px 10px;
    }
    .yellow {
      background-color: #ffff37;
      padding: 8px 10px;
      width: 100px;
    }
    .orange {
      background-color: #fd9727;
      width: 100px;
      padding: 8px 10px;
    }
    .red {
      background-color: #ff5151;
      padding: 8px 10px;
      color: white;
    }
    .green {
      background-color: #50ad55;
      color: white;
      padding: 8px 10px
    }
